
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.titulo{
    font-size: 4rem;
    padding-bottom: 2rem;
    font-weight: 700;
    color:red;
}

#canvas{
    background-color: rgb(11, 167, 233);
    border:1px yellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
}